<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>
<body>
    <!-- https://www.youtube.com/watch?v=Fy9SdZLBTOo -->
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Amazon</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">Slim Shirt</a>
                            </div>
                            <div class="product-brand">Nike</div>
                            <div class="price">$60</div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All Rights reserved.
        </footer>
    </div>
</body>
</html>