<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>
<body>
    <div>
        <head>
            Amazon
        </head>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
            </ul>
        </main>
        <footer>
            All Rights reserved.
        </footer>
    </div>
</body>
</html>